@font-face {
    font-family: 'open-sans-bold';
    src: url(../fonts/open_sans/static/OpenSans/OpenSans-Bold.ttf);
}
@font-face {
    font-family: 'open-sans-extrabold';
    src: url(../fonts/open_sans/static/OpenSans/OpenSans-ExtraBold.ttf);
}
@font-face {
    font-family: 'open-sans-italic';
    src: url(../fonts/open_sans/static/OpenSans/OpenSans-Italic.ttf);
}
@font-face {
    font-family: 'open-sans';
    src: url(../fonts/open_sans/static/OpenSans/OpenSans-Regular.ttf);
}
@font-face {
    font-family: 'open-sans-semibold';
    src: url(../fonts/open_sans/static/OpenSans/OpenSans-SemiBold.ttf);
}
@font-face {
    font-family: 'open-sans-extrabold-italic';
    src: url(../fonts/open_sans/static/OpenSans/OpenSans-ExtraBoldItalic.ttf);
}
@font-face {
    font-family: 'montserrat-regular';
    src: url(../fonts/montserrat/static/Montserrat-Regular.ttf);
}