.hiking-mountains{
    background: #99928d;
}
.hiking-mountain__border-top{
    img{
        width: 100%;
    }
}
.hiking-mountain__main-block{
    background: #99928d;
    position:relative;
    min-height: 500px;
    img{
        max-width: 100%;
    }
}
.text-block{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    max-width: 100%;
    transform: translate(-50%,-50%);
}
.hiking-mountain__img{
    position: absolute;
    bottom: 0;
    left: 0;
}
.text-block__title{
    font-family: 'open-sans-semibold';
    font-size: 2rem;
    color: #fff;
}
.text-block__text{
    margin: 5% 0 0 0;
    font-family: 'open-sans';
    font-size: 1.2rem;
    line-height: 1.4rem;
    max-width: 100%;
    color: #fff;
}
.hiking-mountain__border-bottom{
    transform: rotate(180deg);
    img{
        width: 100%;
    }
}
@media(max-width:700px){
    .text-block{
        width: 100%;
    }
}