@font-face {
  font-family: 'open-sans-bold';
  src: url(../fonts/open_sans/static/OpenSans/OpenSans-Bold.ttf);
}

@font-face {
  font-family: 'open-sans-extrabold';
  src: url(../fonts/open_sans/static/OpenSans/OpenSans-ExtraBold.ttf);
}

@font-face {
  font-family: 'open-sans-italic';
  src: url(../fonts/open_sans/static/OpenSans/OpenSans-Italic.ttf);
}

@font-face {
  font-family: 'open-sans';
  src: url(../fonts/open_sans/static/OpenSans/OpenSans-Regular.ttf);
}

@font-face {
  font-family: 'open-sans-semibold';
  src: url(../fonts/open_sans/static/OpenSans/OpenSans-SemiBold.ttf);
}

@font-face {
  font-family: 'open-sans-extrabold-italic';
  src: url(../fonts/open_sans/static/OpenSans/OpenSans-ExtraBoldItalic.ttf);
}

@font-face {
  font-family: 'montserrat-regular';
  src: url(../fonts/montserrat/static/Montserrat-Regular.ttf);
}

.header {
  background: #fff;
  max-width: 100%;
  overflow: hidden;
}

.header__block {
  margin: 2% 4%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 4fr;
      grid-template-columns: 2fr 4fr;
}

.header__navigation {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  grid-column-gap: 20px;
  -ms-grid-columns: (max-content)[5];
      grid-template-columns: repeat(5, -webkit-max-content);
      grid-template-columns: repeat(5, max-content);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__home, .header__menu, .header__contact-us, .header__our-story {
  text-transform: uppercase;
  color: #54524f;
  font-family: 'open-sans-bold';
}

.header__find {
  border-radius: 25px;
  background: #c3bfbc;
  overflow: hidden;
}

.find__block {
  margin: 4%;
  display: -ms-grid;
  display: grid;
  grid-column-gap: 20px;
  -ms-grid-columns: (max-content)[2];
      grid-template-columns: repeat(2, -webkit-max-content);
      grid-template-columns: repeat(2, max-content);
}

.find__input input {
  background: transparent;
  border: none;
  width: 80px;
}

.find__img {
  width: 50px;
  text-align: center;
  height: 24px;
}

.find__img button {
  background: transparent;
  border: none;
}

@media (max-width: 700px) {
  .header__block {
    text-align: center;
    display: block;
  }
  .header__navigation {
    display: block;
    margin: 0;
    padding: 0;
  }
  .header__home, .header__menu, .header__contact-us, .header__our-story {
    margin: 5% 0%;
  }
  .header__find {
    max-width: 180px;
    margin: 5% auto;
  }
}

.block-hiking {
  position: relative;
  background-image: url("../images/hiking/hiking.png");
  background-repeat: no-repeat;
  border: 0.1px solid transparent;
  background-size: 100% auto;
}

.block-hiking__border-top {
  position: absolute;
  width: 100%;
}

.block-hiking__border-top img {
  width: 100%;
  max-height: 100px;
}

.block-hiking__background {
  margin: 12% 5%;
  max-width: 500px;
}

.block-hiking__text {
  max-width: 400px;
}

.block-hiking__title {
  font-family: 'open-sans-extrabold';
  font-size: 4rem;
  color: #deb37e;
  line-height: 5rem;
  text-transform: uppercase;
}

.block-hiking__sup-title {
  margin: 5% 0;
  font-family: 'open-sans-italic-bold';
  text-transform: uppercase;
  font-size: 1.5rem;
  color: #54524f;
}

.block-hiking__learn-more {
  margin: 10% 0;
}

.block-hiking__learn-more button {
  width: 160px;
  height: 40px;
  border: none;
  background: white;
  color: #776c64;
  border-radius: 20px;
  font-family: 'open-sans-extrabold';
  font-size: 1.2rem;
  text-transform: uppercase;
}

.block-hiking__main-text {
  font-family: 'open-sans-italic';
  color: #616060;
  line-height: 1.2rem;
}

@media (max-width: 700px) {
  .block-hiking__background {
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
  }
  .block-hiking__text {
    max-width: 90%;
    max-width: 600px;
    margin: 80% 0 10%;
    text-align: center;
  }
}

.lets-go-block-container {
  margin: 4% 10%;
  text-align: center;
}

.lets-go-block__title {
  color: #e2a355;
  font-family: 'open-sans-extrabold';
  font-size: 3.5rem;
  text-transform: uppercase;
}

.lets-go-block__text {
  margin: 3% auto;
  font-family: 'open-sans';
  color: #7f7770;
  font-size: 1.2rem;
  max-width: 500px;
  line-height: 1.4rem;
}

.photo-block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.photo-block__container {
  max-width: 340px;
  margin: 3% auto;
  text-align: left;
  background: #7f7770;
}

.photo-block__container img {
  max-width: 100%;
}

.photo-block__title {
  margin: 15% 2% 0;
  color: #f6f6f5;
  font-family: 'open-sans-bold';
  font-size: 1.4rem;
}

.photo-block__text {
  margin: 7% 2% 10%;
  color: #f6f6f5;
  font-family: 'open-sans';
  line-height: 1.2rem;
}

.lets-go-block__button {
  margin: 3% auto;
}

.lets-go-block__button button {
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 20px;
  text-transform: uppercase;
  background: #7f7770;
  color: #f6f6f5;
  font-family: 'open-sans-bold';
}

@media (max-width: 500px) {
  .lets-go-block-container {
    margin: 2% 0;
  }
}

.services__container-top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  background: #7f7770;
}

.services__description-top {
  padding: 15% 5% 0;
}

.services__img img {
  width: 100%;
}

.services__title {
  max-width: 450px;
  font-size: 3rem;
  line-height: 3.5rem;
  color: #fff;
  font-family: 'open-sans-bold';
}

.services__text {
  margin: 5% 0;
  max-width: 350px;
  font-size: 1.2rem;
  color: #fff;
  line-height: 2rem;
  font-family: 'open-sans';
}

.services__button {
  margin: 7% 0;
}

.services__button button {
  width: 220px;
  height: 50px;
  border: none;
  border-radius: 30px;
  font-size: 1.4rem;
  text-transform: uppercase;
  background: #e2a355;
  color: #f6f6f5;
  font-family: 'open-sans-bold';
}

.services__container-bottom {
  background: #deb37e;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.services__description-bottom {
  padding: 25% 0 0 30%;
}

.services__description-bottom .services__title {
  text-transform: capitalize;
}

@media (max-width: 1000px) {
  .services__container-bottom, .services__container-top {
    margin: 0;
    text-align: center;
    display: block;
  }
  .services__description-top, .services__description-bottom {
    padding: 0;
    margin: 0 auto;
    text-align: center;
  }
  .services__description-top div, .services__description-bottom div {
    text-align: center;
    margin: 0 auto;
    padding: 2% 0;
  }
}

.hiking-mountains {
  background: #99928d;
}

.hiking-mountain__border-top img {
  width: 100%;
}

.hiking-mountain__main-block {
  background: #99928d;
  position: relative;
  min-height: 500px;
}

.hiking-mountain__main-block img {
  max-width: 100%;
}

.text-block {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  max-width: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hiking-mountain__img {
  position: absolute;
  bottom: 0;
  left: 0;
}

.text-block__title {
  font-family: 'open-sans-semibold';
  font-size: 2rem;
  color: #fff;
}

.text-block__text {
  margin: 5% 0 0 0;
  font-family: 'open-sans';
  font-size: 1.2rem;
  line-height: 1.4rem;
  max-width: 100%;
  color: #fff;
}

.hiking-mountain__border-bottom {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.hiking-mountain__border-bottom img {
  width: 100%;
}

@media (max-width: 700px) {
  .text-block {
    width: 100%;
  }
}

.explore-the-world {
  position: relative;
  background-image: url(../images/explore-the-world/bacground.png);
  background-repeat: no-repeat;
  background-size: cover;
  border: 0.1px solid transparent;
}

.explore-the-world__border-top {
  position: absolute;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  width: 100%;
  top: -5%;
}

.explore-the-world__border-top img {
  width: 100%;
}

.exsplore-the-world__title {
  text-transform: uppercase;
  text-align: right;
  margin: 30% 10% 40% 50%;
  font-size: 3rem;
  font-family: 'open-sans-extrabold-italic';
  color: #54524f;
}

.exsplore-the-world__title p {
  color: #deb37e;
}

.explore-the-world__border-bottom {
  position: absolute;
  bottom: -5%;
  width: 100%;
}

.explore-the-world__border-bottom img {
  width: 100%;
}

@media (max-width: 700px) {
  .explore-the-world {
    padding: 30% 0;
    position: relative;
  }
  .exsplore-the-world__title {
    position: absolute;
    font-size: 2.5rem;
    margin: 0;
    right: 0;
    top: 20%;
  }
  .explore-the-world__border-bottom {
    bottom: -20%;
  }
}

@media (max-width: 500px) {
  .exsplore-the-world__title {
    text-align: center;
    font-size: 1.5rem;
    width: 100%;
  }
}

.description {
  position: relative;
}

.description__container {
  padding: 10% 15%;
}

.description__img {
  position: absolute;
  right: 0;
  bottom: 0;
}

.description__img img {
  max-width: 100%;
}

.description__section-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.column {
  max-width: 30%;
}

.column__title {
  font-size: 2rem;
  font-family: 'open-sans-bold';
  color: #deb37e;
}

.column__text {
  margin: 10% 0;
  font-size: 1.2rem;
  line-height: 1.4rem;
  font-family: 'open-sans';
  color: #333d42;
}

.footer-text {
  margin: 25% 0 0 0;
  text-align: center;
}

.footer-text__main-text {
  font-family: 'open-sans-semibold';
  padding: 0 20%;
  line-height: 1.4rem;
  font-size: 1.2rem;
}

.footer-text-end {
  font-size: 1.2rem;
  font-family: 'open-sans-bold';
  margin: 5% 0;
}

@media (max-width: 700px) {
  .description__section-text {
    display: block;
  }
  .column {
    max-width: 50%;
  }
}

@media (max-width: 500px) {
  .description__section-text {
    display: block;
  }
  .column {
    max-width: 100%;
  }
  .footer-text__main-text {
    padding: 0;
  }
}

.title-here__border-top {
  position: absolute;
  top: -5%;
  width: 100%;
}

.title-here__border-top img {
  width: 100%;
}

.title-here {
  background: #deb37e;
  position: relative;
}

.title-here__container {
  text-align: center;
  text-align: left;
  padding: 15% 10%;
}

.title-here__title {
  text-align: center;
  font-size: 3rem;
  text-transform: capitalize;
  font-family: 'open-sans-bold';
  color: #fff;
}

.title-here__text {
  margin: 5% 10%;
  font-size: 1.2rem;
  line-height: 1.4rem;
  max-width: 100%;
  color: #54524f;
}

.title-here-form {
  margin: 5% 5%;
  text-align: center;
}

.title-here-form input {
  text-indent: 10%;
  width: 65%;
  height: 40px;
  border: none;
  border-radius: 20px;
}

.title-here-form *::-webkit-input-placeholder {
  margin: 0 10%;
  color: #c9c8c7;
  font-family: 'open-sans';
  text-transform: capitalize;
}

.title-here-form *:-ms-input-placeholder {
  margin: 0 10%;
  color: #c9c8c7;
  font-family: 'open-sans';
  text-transform: capitalize;
}

.title-here-form *::-ms-input-placeholder {
  margin: 0 10%;
  color: #c9c8c7;
  font-family: 'open-sans';
  text-transform: capitalize;
}

.title-here-form *::placeholder {
  margin: 0 10%;
  color: #c9c8c7;
  font-family: 'open-sans';
  text-transform: capitalize;
}

.title-here-form button {
  background: #54524f;
  width: 140px;
  border-radius: 20px;
  color: #fff;
  position: relative;
  border: none;
  right: 80px;
  text-transform: uppercase;
  font-family: 'open-sans-bold';
  height: 44px;
}

.title-here__border-bottom {
  position: absolute;
  bottom: -7%;
  width: 100%;
}

.title-here__border-bottom img {
  width: 100%;
}

@media (max-width: 700px) {
  .title-here__container {
    padding: 20% 5%;
  }
  .title-here-form input {
    width: 100%;
  }
  .title-here-form button {
    display: block;
    position: static;
    right: 0;
    margin: 5% auto;
  }
  .title-here__border-bottom {
    bottom: -5%;
  }
}

.footer {
  background: #7f7770;
}

.footer__container {
  padding: 10% 5%;
}

.footer__block {
  font-family: 'montserrat-regular';
  color: #fff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 3fr;
      grid-template-columns: 3fr 3fr;
  grid-column-gap: 10%;
}

.title {
  font-size: 2rem;
}

.contact__text {
  font-size: 1.2rem;
  line-height: 2rem;
  margin: 3% 0;
}

.contact__social-media a {
  margin: 10% 0;
}

.contact__social-media .not-first-link {
  margin: 0 0 0 1%;
}

.menu {
  text-transform: capitalize;
  color: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, max-content))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(200px, -webkit-max-content));
      grid-template-columns: repeat(auto-fill, minmax(200px, max-content));
  grid-row-gap: 5%;
}

.links {
  margin: 7% 0;
}

.links a {
  color: #fff;
  font-size: 1.2rem;
}

@media (max-width: 700px) {
  .footer__block {
    display: block;
    text-align: center;
  }
  .menu {
    margin: 7% 0;
    grid-column-gap: 0;
  }
  .contact__social-media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .contact__social-media a {
    margin: 0 0;
  }
  .contact__social-media img {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 500px) {
  .menu {
    display: block;
  }
  .menu__about, .menu__other, .menu__services {
    margin: 15% 0;
    text-align: center;
  }
}
